<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Maintenance</title>
</head>
<body>
    <h1>{{message}}</h1>
    <p>Issue with page</p>
</body>
<p>{{now}}</p><!--partials set-->
</html>